<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>글수정</title>
	<link rel="stylesheet" th:href="@{css/style.css}">
	<script th:src="@{https://code.jquery.com/jquery-3.6.1.min.js}" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script th:inline="javascript">
		$(function(){
			let msg = [[${msg}]];
			if(msg != null){
				alert(msg);
			}
		});
	</script>
</head>
<body>
<div class="wrap">
	<th:block th:insert="~{fragments::header('영화정보 사이트')}"></th:block>
	<div class="content">
		<form th:action="@{updateProc}" method="post"
			  enctype="multipart/form-data">
			<h2 class="form-header">영화 정보 수정</h2>
			<th:block th:object="${movie}">
				<input type="hidden" name="m_code" th:value="*{m_code}">
				<input type="text" class="write-input" th:value="*{m_name}"
					   name="m_name" autofocus placeholder="제목"
					   required>
				<input type="text" class="write-input" th:value="*{m_director}"
					   name="m_director" placeholder="감독"
					   required>
				<input type="text" class="write-input" th:value="*{m_nation}"
					   name="m_nation" placeholder="국가"
					   required>
				<input type="text" class="write-input" th:value="*{m_genre}"
					   name="m_genre" placeholder="장르"
					   required>
				<input type="text" class="write-input" th:value="*{m_actor}"
					   name="m_actor" placeholder="주연배우"
					   required>
				<input type="text" class="write-input" th:value="*{m_open}"
					   name="m_open" placeholder="개봉일"
					   required>
				<textarea rows="10" class="write-input ta" name="m_synopsis"
						  placeholder="영화 개요" th:text="*{m_synopsis}"></textarea>
				<input type="hidden" th:value="*{p_oriname}" name="p_oriname">
				<input type="hidden" th:value="*{p_sysname}" name="p_sysname">
			</th:block>
			<div class="detail">
				<div class="detail-sub">
					<div class="detail-title">포스터</div>
					<div class="detail-content">
						<th:block th:if="${movie.p_sysname} == null">
							<img class="poster" th:src="@{/images/no_image.jpg}">
						</th:block>
						<th:block th:unless="${movie.p_sysname} == null">
							<img class="poster" th:src="@{upload/}+${movie.p_sysname}">
						</th:block>
					</div>
				</div>
			</div>
			<div class="filebox">
				<!-- 수정 파일 입력 처리 영역 -->
				<label for="file">업로드</label>
				<input type="file" name="files" id="file"
					   multiple>
				<input type="text" class="upload-name"
					   value="파일선택" readonly>
			</div>
			<div class="btn-area">
				<input type="submit" class="btn-write" value="U">
				<input type="reset" class="btn-write" value="R">
				<input type="button" class="btn-write" value="B" id="backbtn">
			</div>
		</form>
	</div>
	<th:block th:insert="~{fragments::footer}"></th:block>
</div>
</body>
<script th:inline="javascript">
	$("#backbtn").click(function () {
		location.href = `detail?m_code=[[${movie.m_code}]]`;
	});

	//파일 업로드 시 선택한 파일명 출력
	$("#file").on("change", function () {
		//파일 입력창(input type=file)에서 파일 목록 가져오기
		let files = $("#file")[0].files;
		console.log(files);

		let fileName = "";

		if(files.length > 1){//하나 이상의 파일을 선택했을 경우
			fileName = files[0].name + " 외 "
					+ (files.length - 1) + "개";
		}
		else if(files.length == 1) {
			fileName = files[0].name;
		}
		else {//파일 선택 창에서 '취소' 버튼을 클릭
			fileName = "파일선택";
		}

		$(".upload-name").val(fileName);
	});
</script>
</html>